.portfolio-container{
    font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.portfolio-container h2{
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(81, 131, 187);
}
.icon-menu{
    display: none;
}
.navbar {
    display: flex;
    gap: 2rem;
    margin-left: 40%;
}
.navbar a{
    text-decoration: none;
    color: #3b3b3b;
}
.navbar a:hover{
    color: rgb(81, 131, 187);
}.home-container{
    margin-left: 16%;
}
.introduction{
    display: flex;
    gap: 1rem;
}
.intro-details{
    margin-top: 4rem;
}
.intro-details h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(17, 28, 41);
    margin-bottom: 1rem;
}
.intro-details h4{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
}
.intro-details p{
    font-size: 0.9rem;
    line-height: 2;
    margin-bottom: 0;
}
.connect{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}
#get-btn{
    height: 2.6rem;
    width: 12rem;
    border: none;
    background: rgb(81, 131, 187);
    color: #f1f1f1;
    font-size: 0.9rem;
    border-radius: 20px;
    transition: all 300ms ease;
}
#get-btn:hover{
    border: 2px solid rgb(81, 131, 187);
    color: #000;
    background: none;
}
.socials{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.socials a{
    text-decoration: none;
    color: rgb(81, 131, 187);
}
 .intro-image img{
    height: 20rem;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 5rem;
}
.about-container{
    margin-left: 16%;
    margin-top: 8%;
}
.about-container h3{
    font-size: 1rem;
    font-weight: 450;
}
.about-info{
    display: flex;
    gap: 4rem;
}
.about-image img{
    height: 16rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.about-details p{
    font-size: 0.9rem;
    line-height: 2;
    margin-bottom: 0;
}
.about-container h4{
    margin-left: 16rem;
    color: #3b3b3b;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 0rem;
}
.skills{
    display: block;
    gap: 4rem;
    margin-left: 16rem;
    margin-top: 1rem;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  margin: 10px 0;
}

.progress {
  height: 100%;
  background: #4CAF50; /* Green */
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.services-container{
    margin-left: 16%;
    margin-top: 8%;
}
.services-container h3{
    font-size: 1rem;
    font-weight: 450;
    padding-bottom: 1rem;
}
.services{
    display: flex;
    gap: 4rem;
}
.service-card{
    background: rgb(245, 244, 244);
    padding: 0 0.8rem 1rem 0.8rem;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #3b3b3b;
    transition: all 300ms ease;
}
.service-card:hover{
    background: rgb(205, 227, 253);
}
.service-card h3{
    font-size: 1rem;
    font-weight: 450;
}
.service-card p{
    font-size: 0.9rem;
}
.service-card a{
    text-decoration: none;
    color: rgb(81, 131, 187);
}
.projects{
    margin-left: 16%;
    margin-top: 12%;

}
.projects h3{
    font-size: 1rem;
    font-weight: 450;
    padding-bottom: 1rem;
}
.my-projects{
    display: flex;
    gap: 0rem;
    align-items: center;
}
.my-projects a{
    text-decoration: none;
}
.project-one img{
    width: 80%;
}
.project-three img{
    width: 48%;
    height: 50%;
}
.project-one h4,
.project-three h4{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.project-one h6,
.project-three h6{
    font-size: 0.6rem;
    font-weight: 400;
    color: brown;
    margin: 0.5rem;
}
.footer{
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.footer h6{
    font-weight: 500;
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 2rem;
    cursor: pointer;
    color: gray;
}
.footer a{
    text-decoration: none;
    color: gray;
}


/*-------------MEDIA QUERIES--------------*/
@media (min-width: 601px) and (max-width: 1024px) {
    .portfolio-container{
        padding: 1rem;
    }
    .navbar{
        margin-left: 12rem;
    }
    .home-container{
        margin-left: 12%;
    }
    .intro-image img{
        margin-left: 2rem;
    }
    .about-container{
        margin-left: 12%;
        margin-top: 8rem;
    }
    .about-container h4{
        margin-top: 2rem;
    }
    .about-image img{
        margin-top: 5rem;
    }
    .skills{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .services-container{
        margin-left: 12%;
        margin-top: 8rem;
    }
    .services{
        display:flex;
        flex-direction: column;
        width: 98%;
        gap: 2rem;
        margin-left: 0;
    }
    .service-card {
        width: 70%;
    }
    .service-card p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
    }
    .service-card h3{
        font-size: 1.4rem;
    }
    
    
    
}

@media (max-width: 600px) {
  .portfolio-container {
    padding: 1rem;
  }
  .top-head{
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  .icon-menu{
    display: flex;
    margin-top: 1rem;
  }

  .navbar {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.6rem;
    height: 10rem;
    width: 8rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #3b3b3b;
    padding-left: 2rem;
    background: #f7f7f7;
    margin-bottom: 0;
  }
  .navbar.show{
    display: flex;
  }

  .home-container {
    margin-left: 0;
  }

  .introduction {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-image img {
    margin-left: 0;
    margin-top: 2rem;
    height: 15rem;
  }

  .connect {
    flex-direction: column;
    gap: 1rem;
  }

  .about-container {
    margin-left: 2rem;
    padding: 1rem;
  }

  .about-info {
    flex-direction: column;
    gap: 2rem;
  }
  .about-image img{
    margin-left: 2rem;
  }

  .about-container h4{
    margin-left: 0;
    margin-top: 1rem;
  }
  .skills {
    margin-left: 0;
    flex-wrap: wrap;
    gap: 2rem;
  
  }

  .services-container {
    margin-left: 0;
    padding: 1rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer {
    padding: 0 1rem;
  }

  .footer h6 {
    font-size: 0.7rem;
  }
}
